# Исключаем стандартные системные файлы
*.pyc
*.pyo
__pycache__/

# Исключаем виртуальное окружение
venv/
.env

# Исключаем Git-репозиторий
.git/
.gitignore

# Исключаем IDE-конфигурацию
.idea/
.vscode/

# Исключаем данные
*.db
*.sqlite3
*.log

# Исключаем объемные файлы или папки (если не нужны)
tests/
docs/
