[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic-settings = "*"
alembic = "*"
psycopg2 = "*"
psycopg2-binary = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
